<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss:SSS} %-5level %c - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile"
                     fileName="${web:rootDir}/WEB-INF/logs/sppautoservice.log"
                     filePattern="${logPath}/sppautoservice-%i.log"
                     append="true">
            <PatternLayout pattern="%d{HH:mm:ss:SSS} %-5level %c - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
        </Root>
        <Logger name="by.bsuir.spp.autoservice.controller.Controller" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>