#find {
	background-color: rgba(255,255,255,.5);
	padding: 20px;
	border-radius: 10px;
}

#content {
	background-color: rgba(5, 81, 53, .8);
	margin: 20px 0;
	padding: 20px;
}

.flights-list li {
	list-style-type: none;
	background-color: rgba(255,255,255,.9);
	margin-right: 30px;
	margin-top: 20px;
	padding: 20px;
}

form .field {
	height: 40px;
	border:  1px solid black;
}

form button.button {
	height: 40px;
	background-color: rgba(0,0,0,0);
	border: 1px solid black;
	border-radius: 5px;
	padding: 0 20px;
}
	
	form button:hover {
		background-color: rgba(0,0,0,.1);
	}

#content a {
	color: #C7CCC9;
	display: block;
	text-decoration: underline;
	margin: 5px 0 0 30px;
}

	#content a:hover {
	font-style: italic;
}

ul.sort {
	margin-left: -30px;
}

ul.sort li {
	list-style-type: none;
	display: inline-block;
}